textarea {
	resize: none;
/* 	    opacity: 0.65; opacity [0-1]
    -moz-opacity: 0.65; opacity [0-1]
    -webkit-opacity: 0.65; opacity [0-1] */
}

body {
	padding-top: 70px;
	background-color: #FBFCFC;
}

/* post msg form */
.align-form-left {
	margin-left: 10px;
}

.center-form-section {
	margin-right: 10px;
}

#post-options a{
	color:white !important;
}

/* General */
.padding-bottom {
	margin-bottom: 15px;
}

.padding {
	margin: 10px;
}

/* Backgrounds */
.soft-background {
	/* background-color: #c0392b; */
	border-color: #bdc3c7;
}

.post-background{
	background-color: #E5F2F7;	
}


/* soft details */
.panel-hight {
	height: 100px;
}